@using WebInvestigationGame.Models
@{
    ViewBag.Title = "Home Page";
}

<section class="content-area">
    @Html.Partial("~/Views/Pesquisa/Index.cshtml")
    @*@Html.Partial("~/Views/Pesquisa/Index.cshtml", Model.GetPesquisaViewModel)*@
</section>


